.filter {
  border: 1px solid aqua;
  background-color: #0c0d0d;
  padding: 20px;
  flex-basis: 40%;
  color: white;
  // width: 500px;

  .filter__body {
    display: flex;
    flex-direction: column;
  }

  .filter_checkbox {
    width: 15px;
    height: 15px;
    background-color: white;
  }
  .filter_checkboxActive {
    width: 15px;
    height: 15px;
    background-color: #fd5252;
  }

  .filter__items {
    display: flex;
    align-items: center;
  }
}
