.button__black {
  background-color: black;
  border: 1px solid #fd5252;
  transition: 400ms ease all;
  color: white;
  font-size: 16px;

  &:hover {
    background-color: #fd5252;
    color: black;
  }
}

.button__white {
  background-color: #fd5252;
  border: 1px solid #fd5252;
  transition: 400ms ease all;
  font-size: 16px;

  &:hover {
    background-color: #fd5252;
    color: black;
  }
}
