@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.body {
  position: relative;
  margin-left: 30px;
  .body__currency {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: block;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #fd5252;

    &:hover {
      background-color: #fd5252;
    }
  }
  .modal {
    // padding: 20px;
    margin-left: 5px;
    margin-top: 10px;
    position: absolute;
    width: 100px;
    // background-color: white;
    color: white;
    border-radius: 5px;
    z-index: 3;

    .modal__dollarBody {
      display: flex;
      cursor: pointer;
    }
    .modal__euroBody {
      display: flex;
      margin-top: 10px;
      cursor: pointer;
    }
    .modal__currency {
      margin-left: 10px;

      &:hover {
        color: #fd5252;
      }
    }
  }
}
