@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.body {
  position: relative;
  margin-left: 30px;
  .body__currency {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: block;
    color: white;
  }
  .modal {
    padding: 20px;
    position: absolute;
    width: 100px;
    background-color: white;
    border-radius: 5px;

    .modal__dollarBody {
      display: flex;
      cursor: pointer;
    }
    .modal__euroBody {
      display: flex;
      margin-top: 10px;
      cursor: pointer;
    }
    .modal__currency {
      margin-left: 10px;
    }
  }
}
